<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "IMG_2280.JPG", width: "300", alt: "profile image" %>
  </div>

<div class="col-md-8">

  <p>Short loin capicola alcatra cupim, pork belly pork loin salami turkey cow tongue doner corned beef ham hamburger. Chicken tail doner jowl, tongue ham hock tri-tip biltong picanha bacon pork chop flank pork loin. Jowl pastrami alcatra tenderloin. Pork belly brisket pork loin tenderloin t-bone andouille ham hock meatloaf alcatra chuck pastrami porchetta doner short ribs. Jowl fatback pork belly shoulder rump pork. Pork loin pork chop ham turkey swine short ribs pig leberkas strip steak jowl pork belly sausage.</p>

  <p>Bacon ipsum dolor amet ham hock meatloaf cow short loin tail alcatra prosciutto. Turkey meatloaf bresaola doner, hamburger leberkas filet mignon ham hock short ribs shank tongue pig andouille tail. Turkey hamburger pork belly kielbasa. Chicken pork chop shankle turkey beef ribs cupim boudin meatball ribeye, t-bone flank leberkas.</p>

  </div>
</div>
