<br>
<h1>Would you like to work together</h1>

<h2><a href="mailto:neil@test.com?subject=ContactMe" "Email me"></a></h2>
<hr>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.1175713239904!2d-0.11933668447207126!3d51.51105897963583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604b5f3c46771%3A0x439ecc438a580a1!2sSomerset+House!5e0!3m2!1sen!2suk!4v1492943148886" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

